.mcard {
    border-radius: 0;
    // box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    // margin-bottom: 30px;
    transition: all 0.5s ease-in-out;

    .mcard-header {
        background-color: transparent;
        // border-bottom: 1px solid #f1f1f1;
        padding: 20px 25px;
        position: relative;

        + .mcard-block,
        + .mcard-body {
        }

        h5 {
            margin-bottom: 0;
            color: #000;
            font-size: 17px;
            font-weight: 400;
            display: inline-block;
            margin-right: 10px;
            line-height: 1.1;
            position: relative;

            &:after {
                content: "";
                background-color: #04a9f5;
                position: absolute;
                left: -25px;
                top: 0;
                width: 4px;
                height: 20px;
            }
        }

        &.borderless {
            border-bottom: none;

            h5:after {
                display: none;
            }
        }

        .mcard-header-right {
            right: 10px;
            top: 10px;
            display: inline-block;
            float: right;
            padding: 0;
            position: absolute;
            @media only screen and (max-width: 575px) {
                display: none;
            }

            .dropdown-menu {
                margin-top: 0;

                li {
                    a {
                        font-size: 14px;
                        text-transform: capitalize;
                    }
                }
            }

            .btn.dropdown-toggle {
                border: none;
                background: transparent;
                box-shadow: none;
                color: #888;

                i {
                    margin-right: 0;
                }

                &:after {
                    display: none;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }

    .mcard-footer {
        border-top: 1px solid #f1f1f1;
        background: transparent;
        padding: 25px;
    }

    .mcard-block,
    .mcard-body {
        padding: 30px 25px;
    }

    &.mcard-load {
        position: relative;
        overflow: hidden;

        .mcard-loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(256, 256, 256,0.7);
            z-index: 999;

            i {
                margin: 0 auto;
                color:#04a9f5;
                font-size: 24px;
                align-items: center;
                display: flex;
            }
        }
    }

    &.full-card {
        z-index: 99999;
        border-radius: 0;
    }
}


.question-card-match,
.card-match {
    width: 100%;
    // background-color: #ebedee !important;
    // height: 90%;

    .match-info {
        padding: 10px;

        .status {
            color: #000;
            font-size: 14px;
            font-weight: 700;
        }

        .description {
            color: #48494a;
            font-size: 14px;
        }

        .teams {
            margin-left: 0px;
            margin-top: 0px;

            .team {
                // display: flex;
                justify-content: space-between;
                align-items: center;
                color: #2b2c2d;

                .name-detail {
                    display: inline-flex;
                    line-height: 1.5;
                    letter-spacing: .1px;
                    align-items: center;
                    font-size: 0.25rem;
                    white-space: nowrap;
                    opacity: 1;

                    .flag {
                        width: 35px;
                        height: 50px;
                    }

                    .img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    .name {
                        color: #000;
                        margin: 0;
                        margin-left: 10px;
                        text-decoration: none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .questionCardText {
                        font-size: 14px;
                        color: #000;
                        font-style: bold;
                        margin: 0;
                        margin-left: 10px;
                        text-decoration: none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: bold
                    }
                }
            }

            .footer {
                align-content: center;
                margin-top: 10px;
                width: 100%;
            }
        }
    }

    .status-text {
        margin-top: 30px;
        color: #04a9f5;
        font-weight: bold;
    }

    .warning-text {
        margin-top: 30px;
        color: #e2ab06;
        font-weight: bold;
    }
}

.table-container {
    overflow: auto;
    max-height: 350px;
    // border: 1px solid;
    th {
        position: sticky;
        top: 0;
        // color: #000;
        font-size: 16px;
        background: white;
    }
}

.result-table {
    th {
        color: #212529;
        font-size: 16px;
        // font-style: bold;
        background: white;
    }

    td {
        color: rgb(27, 27, 27);
        font-style: bold;

        .span-title {
            margin-left: 10px;
            font-weight: 400;
            font-style: italic;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(82, 81, 81);
            font-size: 14px;
        }
    }
}

.list-group {
    height: 250px;
    overflow: auto;
    max-height: 250px;   
}

.error-message {
    color:red;
    margin-left: 10px;
    margin-top: 20px;
}

.pright5 {
    padding-right: 5px;
}

.datatable {

    .option {
        float: none;
        border: 1px solid #dedede;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 51, 89, 0.1);
    
        &.selected {
            color:red;
            font-size: 16px;
            font-style: bold;
            margin: 0;
            margin-left: 10px;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            // text-align: center;
        }

        &.target {
            color:green;
            font-size: 16px;
        }
    }

}